.grid-body {
	height: 350px;
}

.resource-cell {
	height: 3rem;
	border-bottom: 1px solid gray;
}

.grid-cell {
	height: 3rem;
	width: 3.5rem;
	flex-shrink: 0;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
}